In [55]:
import pandas as pd

url = "https://raw.githubusercontent.com/advinstai/python-datascience/master/csv/Boston.csv"

df = pd.read_csv(url)

In [56]:
#Pega as primeiras 10 linhas
df.head(10)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,6,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,9,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,10,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [58]:
df.describe()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,253.500000,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,146.213884,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,1.000000,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,127.250000,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,253.500000,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,379.750000,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,506.000000,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [77]:
#Busca pelo indice
#Posicao zero
print(df.loc[df["crim"] > 50])

print('\ndf.loc[df["crim"]  --  df.loc[380]\n')

print(df.loc[380])

print("-----")

#Busca pelo indice a linha um
#Posicao um
print(df.loc[1])

     Unnamed: 0     crim   zn  indus  chas    nox     rm    age     dis  rad  \
380         381  88.9762  0.0   18.1     0  0.671  6.968   91.9  1.4165   24
405         406  67.9208  0.0   18.1     0  0.693  5.683  100.0  1.4254   24
410         411  51.1358  0.0   18.1     0  0.597  5.757  100.0  1.4130   24
418         419  73.5341  0.0   18.1     0  0.679  5.957  100.0  1.8026   24

     tax  ptratio   black  lstat  medv
380  666     20.2  396.90  17.21  10.4
405  666     20.2  384.97  22.98   5.0
410  666     20.2    2.60  10.11  15.0
418  666     20.2   16.45  20.62   8.8

df.loc[df["crim"]  --  df.loc[380]

Unnamed: 0    381.0000
crim           88.9762
zn              0.0000
indus          18.1000
chas            0.0000
nox             0.6710
rm              6.9680
age            91.9000
dis             1.4165
rad            24.0000
tax           666.0000
ptratio        20.2000
black         396.9000
lstat          17.2100
medv           10.4000
Name: 380, dtype: float64
-----
Unnamed: 0      2.00000
crim            0.02731
zn              0.00000
indus           7.07000
chas            0.00000
nox             0.46900
rm              6.42100
age            78.90000
dis             4.96710
rad             2.00000
tax           242.00000
ptratio        17.80000
black         396.90000
lstat           9.14000
medv           21.60000
Name: 1, dtype: float64

In [71]:
#Busca pela linha zero
print(df.iloc[1])

print("-----")

#Busca pela linha 1
print(df.iloc[1])

Unnamed: 0      2.00000
crim            0.02731
zn              0.00000
indus           7.07000
chas            0.00000
nox             0.46900
rm              6.42100
age            78.90000
dis             4.96710
rad             2.00000
tax           242.00000
ptratio        17.80000
black         396.90000
lstat           9.14000
medv           21.60000
Name: 1, dtype: float64
-----
Unnamed: 0      2.00000
crim            0.02731
zn              0.00000
indus           7.07000
chas            0.00000
nox             0.46900
rm              6.42100
age            78.90000
dis             4.96710
rad             2.00000
tax           242.00000
ptratio        17.80000
black         396.90000
lstat           9.14000
medv           21.60000
Name: 1, dtype: float64

In [50]:
#Busca pela coluna ~crim~
newDf = df["crim"]
print(newDf)

print("-----")

#Filtrar o DataFrame atraves de consicoes
newDf = df[df["crim"] > 50]
print(newDf)

print("-----")

display(newDf)

0      0.00632
1      0.02731
2      0.02729
3      0.03237
4      0.06905
        ...
501    0.06263
502    0.04527
503    0.06076
504    0.10959
505    0.04741
Name: crim, Length: 506, dtype: float64
-----
     Unnamed: 0     crim   zn  indus  chas    nox     rm    age     dis  rad  \
380         381  88.9762  0.0   18.1     0  0.671  6.968   91.9  1.4165   24
405         406  67.9208  0.0   18.1     0  0.693  5.683  100.0  1.4254   24
410         411  51.1358  0.0   18.1     0  0.597  5.757  100.0  1.4130   24
418         419  73.5341  0.0   18.1     0  0.679  5.957  100.0  1.8026   24

     tax  ptratio   black  lstat  medv
380  666     20.2  396.90  17.21  10.4
405  666     20.2  384.97  22.98   5.0
410  666     20.2    2.60  10.11  15.0
418  666     20.2   16.45  20.62   8.8
-----

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
380,381,88.9762,0.0,18.1,0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21,10.4
405,406,67.9208,0.0,18.1,0,0.693,5.683,100.0,1.4254,24,666,20.2,384.97,22.98,5.0
410,411,51.1358,0.0,18.1,0,0.597,5.757,100.0,1.4130,24,666,20.2,2.60,10.11,15.0
418,419,73.5341,0.0,18.1,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62,8.8